* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  gap: 1rem;
  display: flex;
}

main .left,
main .right {
  height: 100%;
  width: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}

main .left {
  background-color: rgb(18, 16, 16);
  position: relative;
  font-size: 1rem;
  overflow: auto;
}

main .right {
  background-color: #343434;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  overflow: auto;
}

.left .code,
.code pre,
.code pre code {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgb(18, 16, 16);
}
main .left .review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(219, 219, 255);
  color: black;
  padding: 0.5rem 2rem;
  font-weight: 500;
  border-radius: 0.7rem;
  cursor: pointer;
  user-select: none;
}
